
@{
    ViewBag.Title = "Add Images";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("AddImages", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
     @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <br />
    <div class="row">

        <div id="uploader" class="form-group">
            <div class="col-md-10">
                <div><input type="file" id="UploadFile" class="btn btn-primary" name="Images" multiple></div>
            </div>
        </div>
    </div>
}