@{
    ViewBag.Title = "Home Page";
}

<br />
<div class="row">
    <div class="col-md-6">@btnHelper("სურათების ატვირთვა", "FilesPage", "Home")</div>
    <div class="col-md-6">@btnHelper("სურათები", "Gallery", "Home")</div>
</div>


@helper btnHelper(string linkName, string actionName, string controllerName)
{
    <br />
    <br />
    <button class="btn btn-success">
        @Html.ActionLink(linkName, actionName, controllerName, null, new { @style = "color:white" })
    </button>
}



@*<script>

            var xhr = new XMLHttpRequest();
            xhr.open('GET', "https://webchat.botframework.com/api/tokens", true);
            xhr.setRequestHeader('Authorization', 'BotConnector ' + 'GBD5WMFX4j0.rGv2aKQzs02t6c48j236pOLa7pV5rwmKGhz8b30Xeeo');
            xhr.send();
            xhr.onreadystatechange = processRequest;

            function processRequest(e) {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var response = JSON.parse(xhr.responseText);
                    document.getElementById("chat").src = "https://webchat.botframework.com/embed/MESBot1?t=" + response
                }
        }
    </script>*@